<div class="text-center">
  <h1>edit group</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @group, url: group_path, local: true, method: :patch) do |f| %>
      <%= render 'layouts/error_messages', model: @group %>
      
      <%= render 'groups/forms', f: f %>
      
      <%= f.submit '更新する', class: 'btn btn-outline-dark btn-sm mt-3 mr-3' %>
      <%= link_to 'キャンセル', group_path(token: @group.token), class: 'btn btn-outline-secondary btn-sm text-black-50 mt-3' %>
    <% end %>
  </div>
</div>