<% if @message %>
  <%= render 'layouts/error_messages', model: @message %>
<% end %>

<div style="background-color: rgba(255,0,0,0.1);">
  <%= image_tag @group.background_image.url, alt: 'background img', class: 'w-100', height: 100, style: "object-fit: cover;"  %>
</div>

<div class="d-flex align-items-center mt-3">
  <%= image_tag @group.image.url, alt: 'background image', size: '44x44', style: "object-fit: contain;"  %>
  <h2 class="mb-0 ml-2">
    <%= @group.name %>
  </h2>
  <div class="ml-auto">
    <% if current_user == @group.user %>
      <%= link_to '編集する', edit_group_path, class: 'btn btn-outline-primary btn-sm' %>
      <%= link_to "削除する", group_url, method: :delete, data: { confirm: "グループを削除しますか?" }, class: 'btn btn-outline-danger btn-sm' %>
    <% else %>
      <% unless @group.subscriber?(current_user) %>
        <%= form_with(model: @group.subscribers.build, local: true) do |f| %>
          <%= hidden_field_tag :group_token, @group.token %>
          <%= f.submit '参加する', class: 'btn btn-outline-primary btn-lg' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="border mb-5 p-3">
  <%= @group.description %>
</div>
<div class="pb-5">
  <% if @messages %>
    <% @messages.each do |message| %>
      <div class="d-flex align-items-center border-bottom mb-3 p-1">
        <div>
          <%= image_tag message.user.image.url, alt: 'user icon', size: '40x40', style: "object-fit: contain;" %>
          <p><%= message.user.name %></p>
        </div>
        <div class="pl-3">
          <%= message.content %>
        </div>
      </div>
    <% end %>
    <%= paginate @messages %>
  <% end %>
</div>
<div class="fixed-bottom pb-2">
  <div class="container">
    <% if @group.subscriber?(current_user) %>
      <%= render 'groups/send_bar', group: @group %>
    <% else %>
      <%= form_with(model: @group.subscribers.build, local: true) do |f| %>
        <%= hidden_field_tag :group_token, @group.token %>
        <%= f.submit '参加する', class: 'btn btn-primary btn-lg btn-block' %>
      <% end %>
    <% end %>
  </div>
</div>