<div class="text-center">
  <h1>ユーザ情報の編集</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @user, local: true, method: :patch) do |f| %>
      <%= render 'layouts/error_messages', model: @user%>
      
      <%= render 'users/user_form_control', f: f, password_confirmation: false %>

      <%= f.submit '更新する', class: 'btn btn-outline-dark btn-sm mr-3' %>
      <%= link_to 'キャンセル', :back, class: 'btn btn-outline-secondary btn-sm text-black-50' %>
    <% end %>
  </div>
</div>