<div class="text-center">
  <h1>パスワードの変更</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @user, url: update_password_user_path(@user), local: true, method: :patch) do |f| %>
      <%= render 'layouts/error_messages', model: @user %>
      
      <div class="form-group">
        <%= f.label :old_password, 'パスワード*' %>
        <%= f.password_field :old_password, class: 'form-control require' %>
      </div>
      
      <div class="form-group">
        <%= f.label :password, '新しいパスワード*' %>
        <%= f.password_field :password, class: 'form-control require' %>
      </div>
      
      <div class="form-group">
        <%= f.label :password_confirmation, '新しいパスワードの確認*' %>
        <%= f.password_field :password_confirmation, class: 'form-control require' %>
      </div>

      <%= f.submit '更新する', class: 'btn btn-outline-dark btn-sm' %>
    <% end %>
  </div>
</div>