<div class="row">
  <aside class="col-md-2 text-center text-md-left">
    <div class="user_image">
      <%= image_tag @user.image.url, alt: 'user icon', class: 'mw-100', height: 200, style: "object-fit: contain;" %>
    </div>
    <h3><%= @user.name %></h3>
    <p>
      <%= @user.profile %>
    </p>
    <% if @user == current_user %>
      <p><%= link_to 'プロフィールの編集', edit_user_path(current_user) %></p>
      <p><%= link_to 'パスワードの変更', password_user_url(current_user) %></p>
    <% end %>
  </aside>
  <div class="content col-md-10">
    <% if @user == current_user %>
      <div class="content_navs d-flex justify-content-between">
        <div class="btn-group">
          <a href="<%= user_path(current_user, access: 'public') %>" class="btn btn-secondary <%= 'active' if @access == 'public' %>" role="button" aria-pressed="true">公開</a>
          <a href="<%= user_path(current_user, access: 'private') %>" class="btn btn-secondary <%= 'active' if @access == 'private' %>" role="button" aria-pressed="true">プライベート</a>
        </div>
        <%= link_to "グループを作成", new_group_path, class: 'btn btn-secondary' %>
      </div>
    <% end %>
    <div class="content-items mt-3">
      <%= render 'groups/groups', groups: @groups %>
    </div>
  </div>
</div>